@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist" , sans-serif;
   
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #ffffff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;
}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button,a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-title{
    margin-bottom: 4.2rem;
}

.common-section{
    padding: 0 0 8rem 0;
}

/* navbar start  */
.nav-logo{
    font-size: 2rem;
    font-weight: 900;
}
.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--bs-secondary-color)
}

/* hero section start  */
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;

}

.bg-main {
    height: 90vh;
    position: relative;
}

.text-light-grey{
    color: var(--bs-primary-color);
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none!important;
}
.hero-video{
    width: 30rem;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1720023391 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1720023391 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1720023391 .shape-fill {
    fill: #FFFFFF;
}

/* services section start  */
.services{
    padding: 6rem 0 3rem 0;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bs-secondary-color);
    color: var(--bs-main-color);
}

.card-box:hover{
    box-shadow: rgba(149,157,165,0.2) 0 8px 24px;
}

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.7) , rgba(22,22,22,0.9)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}


.more-info-section .img-section{
    position: relative;
}

.more-info-section .img-section img{
    width: 80%;
}

/* carsouel start  */
.carousel .card{
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-inner .card p{
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card:hover p{
    color: var(--bs-dark-color);
}

.fa-star,.fa-star-half{
    color: var(--bs-supporting-color);
}

/* contact us start  */

.contact-us{
    position: relative;
}

.custom-shape-divider-top-1720080139 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720080139 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 124px;
}

.custom-shape-divider-top-1720080139 .shape-fill {
    fill: #FFFFFF;
}

.form-control::-webkit-input-placeholder {
    color: var(--bs-dark-color) !important;
  }
/* contact us end  */

/* footer section start  */
.footer-section{
    background-color: var(--bs-dark-primary);
}
/* footer section end  */

/* responive start  */
@media screen and (max-width:768px){
    h1{
        font-size:2rem;
    }

    .hero-section .container{
        height: auto;
    }
    .bg-main{
        height: 120vh;
    }
}

@media screen and (max-width:576px){
    h1{
        font-size:1.5rem;
    }

    .bg-main{
        height: 120vh;
    }
    
    .hero-video{
        width: 20rem;
        border-radius: 1rem;
    }
}
/* responive end  */